/*
body{
    font-family: 'Kanit';
    font-size: 14px;
}
.container{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: azure;
    padding: 20px;
    box-sizing: border-box;
}
.header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.header-form{
    width: 200px;
}
.flex{
    display: flex;
}
.form-input{
    margin-bottom: 10px;
}
input.form, textarea{
    border: 1px solid #ccc;
    width: 100%;
}
.center{
    text-align: center;
}
.button{
    border: 10%;
    width: 50%;
    height: 40px;
}

.message {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightcoral;
    display: block;
}

@media screen and (max-width: 2000px){
    .flex {
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
    .button{
        width: 100%;
    }
}
    */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282a35;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
        background-color: #111;
}
.active {
    background-color: #205295;
}
.register-button {
    background-color: #144272;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
}
.register-button:hover {
    background-color: #0f3558;
}
.register-button:focus {
    outline: none;
}